body {
    background: #2D2D2D;
    padding: 0;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 12px;
}

nav {
    background: linear-gradient(white,white,#5f5f5f);
    padding: .5em 0 0 ;
    margin: 0 auto;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 5em;
}

 nav li{
    list-style: none;
    display: inline-block;
    padding: .5em 1em;
     margin: .4em;
}
nav li:first-child, nav li:hover{
    background: #1798AE;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
nav ul {
    padding: 0;
    margin: auto;
}

nav h1 {
    padding: 0;
    margin: auto;
    font-size: 2em;
    color:rgba(23, 23, 23, 0.53);
}

h1, h2{
    font-family: sans-serif;
    font-weight: lighter;
}

main {
    margin: 0 10%;
    
}

.slider {
    text-align: center;
    margin-top: 1em;
    display: block;
}

.slider img {
    border: 1em white solid;
}

.slider li{
    display: inline-block;
    list-style: none;
    content: "";
    background: #1798AE;
    width: .5em;
    height: .5em;
    border-radius: 1em;
    cursor: pointer;
}

.slider li:nth-of-type(2) {
    background: white;
}

.slider li:hover {
    background: white;
}

#cabecera {
    display: block;
    background: #466C2F;
    color: white;
    border-bottom: .2em rgba(0,0,0,0.8) solid;
    border-radius: .5em;
}

#cabecera h2 {
    font-size: 3em;
    text-indent: .5em;
    margin: 0;
}

#cabecera ul {
    margin: 0 auto;
    padding: 0;
    text-indent: 2em;
}

#cabecera li {
    list-style: none;
    margin: 1em 0;
}

#cabecera p{
    color: white;
    margin: 0 auto;
    padding: 0 2em .7em;
}

#cabecera li:before {
    content: "+";
    padding-right: .2em;
}

main {
    float:left;
}
    
main h3 {
    margin: 0 auto;
    margin-top: 2em;
    color: white;
}

main address {
    color: #1798AE;
    font-style: normal;
    font-size: .7em;
    margin-top: .2em;
    text-indent: 1em;
}

main header {
    text-indent: .5em;
}

main article {
    margin-right: 20em;
}

main section img{  
    float: left;
    padding: .5em .5em 2em;
}

main hr{
    border-color: #272727;
    border: none;
    border-bottom: 1px solid;
    width: 30em;
    clear: both;
    box-shadow: 1px 1px 2px black;
}

main p {
    color: darkgrey;
    margin: .5em 0 1em;
}

aside {
    float: right;
    background: #337db4;
    margin-top: -38em; 
    margin-right: 10%;
    border-radius: .5em;
}

aside h5 {
    background: white;
    text-align: center;
    padding: 1em ;
    color: #337db4;
    margin: .5em 0 0;
    border-radius: .1em;
}

aside a {
    color: white;
}

aside a:hover {
    text-decoration: underline;
}

aside ul {
    text-indent: 0;
    padding: 0;
}

aside li {
    list-style: none;
    text-indent: 1em;
    margin: 1em 0;
}

aside img {
    padding: .5em;
}

.info {
    display: inline-flex;
    clear:both;
    margin:0 10%;
    background: linear-gradient(#626262,#2D2D2D);
    padding: 1em;
    margin-top: 2em;
    border-bottom: .2em black solid;
    border-radius: .5em;
}

.left {
    width: 50%;
    color: darkgrey;
    font-size: .9em;
    padding-right: 1em;
    border-right: 1px solid darkgrey;
}

.left .title {
    font-size: 1.5em;
    margin: 0 auto;
}

.socialmedia {
    color: white;
    width: 50%;
}

.socialmedia ul {
    display: flex;
	flex-wrap: wrap;
}

.socialmedia li{
    position: relative;
    list-style: none;
    align-self: stretch;
    width: 10em;
    height: 4em;
    margin: 1em 3.5em;
}

.socialmedia li:nth-of-type(1):before {
    content: url(../img/1.png);
    position: absolute;
    margin: -1em -3.5em;
}
.socialmedia li:nth-of-type(2):before {
    content: url(../img/2.png);
    position: absolute;
    margin: -1em -3.5em;
}
.socialmedia li:nth-of-type(3):before {
    content: url(../img/3.png);
    position: absolute;
    margin: -1em -3.5em;
}
.socialmedia li:nth-of-type(4):before {
    content: url(../img/4.png);
    position: absolute;
    margin: -1em -3.5em;
}

footer {
    font-size: .8em;
    color: white;
    text-align: center;
    clear: both;
}
